<template>
    <div class="app">
        <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Stay Home</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#download">Problem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#features">Solution</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Demo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-lg-7 my-auto">
                        <div class="header-content mx-auto">
                            <h1 class="mb-5">Data is everywhere when it comes to Health Care. We help you to take action on that data. </h1>
                            <a class="btn btn-outline btn-xl js-scroll-trigger" href="dashboard">Dashboard</a>
                        </div>
                    </div>
                    <div class="col-lg-5 my-auto">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="screen">
                                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                        <img src="../assets/img/happy.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="download bg-primary text-center" id="download">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <h2 class="section-heading">About 14 percent of all people over age 65 have two to three chronic conditions that hinder their ability to live independently.</h2>
                        <div class="badges">
                            <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                            <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="features" id="features">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Event-Based Monitoring with IOT Devices</h2>
                    <p class="text-muted">Happiness is simply staying home.</p>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-lg-4 my-auto">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="screen">
                                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                        <img src="../assets/img/event.png" class="img-fluid" alt="">
                                    </div>
                                    <a class="button" href="home">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 my-auto">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="feature-item">
                                        <i class="icon-screen-smartphone text-primary"></i>
                                        <h3>Work On Lots Devices</h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="feature-item">
                                        <i class="icon-camera text-primary"></i>
                                        <h3>Instant Video Care</h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="feature-item">
                                        <i class="icon-present text-primary"></i>
                                        <h3>Cost Saving</h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="feature-item">
                                        <i class="icon-lock-open text-primary"></i>
                                        <h3>Control Of Your Data</h3>
                                        <p class="text-muted"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="cta">
            <div class="cta-content">
                <div class="container">
                    <h2>FitBit Trigger Event<br>Chat <br> UP </h2>
                        <div class="col-4 m-5">
                            <!-- <input  v-model="tel" class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input"> -->
                        </div>
                    <a v-on:click="greet" class="btn btn-outline btn-xl js-scroll-trigger" style="color:white" >Let's Get Started!</a>
                </div>
            </div>
            <div class="overlay"></div>
        </section>

        <section class="features" id="features2">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Next Steps</h2>
                    <p class="text-muted"></p>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-lg-4 my-auto">
                        <div class="device-container">
                            <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                    <div class="screen">
                                        <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                        <img src="../assets/img/event.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 my-auto">
                        <h2>FHir Interface</h2>
                        <h2>Machine Learning Video Feeds</h2>
                        <h2>Machine Learning Events</h2>
                        <h2>Implement more IOT Devices</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact bg-primary" id="contact">
            <div class="container">
                <h2>We
                    <i class="fa fa-heart"></i>
                    new friends!</h2>
                <ul class="list-inline list-social">
                    <li class="list-inline-item social-twitter">
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item social-facebook">
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item social-google-plus">
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <footer>
            <div class="container">
                <p>&copy; StayHome.io 2018. All Rights Reserved.</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
        </footer>
        </body>
    </div>
</template>

<script>
import nav from '../_nav'
import { Header as AppHeader, Sidebar, Aside as AppAside, Footer as AppFooter, Breadcrumb } from '../components/'

export default {
  name: 'Front',
  components: {
    AppHeader,
    Sidebar,
    AppAside,
    AppFooter,
    Breadcrumb
  },
  data () {
    return {
      nav: nav.items,
      tel: ''
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched
    }
  },
  methods: {
    greet () {
      this.$router.push('/chat')
    }
  }
}
</script>
<style lang="scss">
    // Import Main styles for this application
    @import '../assets/scss/new-age';
</style>
